[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/surya-aosp/AnyKernel3
[submodule "drivers/net/wireless/realtek/rtl8188eus"]
	path = drivers/net/wireless/realtek/rtl8188eus
	url = https://github.com/aircrack-ng/rtl8188eus
[submodule "drivers/net/wireless/realtek/rtl8812au"]
	path = drivers/net/wireless/realtek/rtl8812au
	url = https://github.com/akabul0us/rtl8812au
[submodule "drivers/net/wireless/realtek/rtl8812bu"]
	path = drivers/net/wireless/realtek/rtl8812bu
	url = https://github.com/RinCat/RTL88x2BU-Linux-Driver.git
[submodule "drivers/net/wireless/mediatek/mt76"]
	path = drivers/net/wireless/mediatek/mt76
	url = https://github.com/akabul0us/mt76
[submodule "kali-nethunter-kernel-builder"]
	path = kali-nethunter-kernel-builder
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel-builder
[submodule "docker"]
	path = docker
	url = https://github.com/cyberknight777/android_kernel_docker
[submodule "nethunter"]
	path = nethunter
	url = https://github.com/cyberknight777/android_kernel_nethunter
[submodule "drivers/net/wireless/realtek/rtl88x2bu"]
	path = drivers/net/wireless/realtek/rtl88x2bu
	url = https://github.com/akabul0us/rtl88x2bu
